.open-menu {overflow: hidden;}
.rotate {
    transform: rotate(180deg);
}
.wrapper .menu-mobi {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    background-color: beige;
    overflow: hidden;
}
.wrapper .menu-mobi ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper .menu-mobi ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    width: 100%;
    height: 40px;
    margin: 0;
    border-bottom: 1px solid var(--marrom2);
}
.wrapper .menu-mobi ul li a{
    color: var(--marrom1);
}
.mobi-btn {
    position: absolute;
    top: 2%;
    right: 6%;
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lbg);
    color: beige;
    border-radius: 6px;
    transition: all .3s;
}
.no-active, .no-active-mobi {
    display: none;
}
.mobi-btn:hover {
    background-color: beige;
    color: var(--marrom1);
    border: 1px solid var(--marrom1);
}
.mobi-btn span {
    margin: 0 10px;
}


@media screen and (max-width: 450px){
    .no-active {
        display: flex;
    }
}