nav::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 85px;
    background-color: beige;
    z-index: -1;
}

nav {
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: space-between;
    align-items: center;
    color: var(--marrom2);
    z-index: 2;
    border-bottom: 5px solid var(--marrom2);
}


nav .logo {
    width: 15%;
    text-align: center;
    cursor: pointer;
}
nav .logo img {
    width: 60px;
    height: 60px;
}

nav ul {
    display: flex;
    width: 75%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 10px;
    width: 100px;
    cursor: pointer;
}
nav ul li:hover {
    border-bottom: 5px solid var(--lbg);
}

nav ul li a {
    color: var(--marrom1);
    display: flex;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 450px){
    nav ul {
        display: none;
    }
    nav .logo {
        margin-left: 1em;
    }
}